.container {
  padding: 100px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}

.column_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row_container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff;
  gap: 20px;
  @media screen and (max-width: 768px) {
    gap: 10px;
    width: auto;
  }
}

.topic {
  font-size: 30px;
  color: #ffffff;
  margin-top: 20px;
  align-self: center;
}
.mac_button {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.Input {
  position: relative;
  display: inline;
  background: none;
  border: none;
  text-decoration: underline;
  text-decoration-color: rgb(255, 165, 0, 0.4);
  color: #ffa500;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  outline: none;
  width: auto;
  caret-color: #ffa500;
}
.Input::placeholder {
  color: hsla(39, 100%, 50%, 0.4);
}
.Input:invalid {
  border-bottom: none;
}
.custom_type_animation_cursor {
  display: inline;
}
.custom_type_animation_cursor::after {
  content: "|";
  animation: cursor 0.5s infinite step-start;
}
.terminal {
  font-family: monospace;
  font-size: 20px;
  line-height: 25px;
}
@keyframes cursor {
  50% {
    opacity: 0;
  }
}
