.index {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  background-color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 1;
}
